@font-face {
    font-family: "JosefinSlab";
    src: url('../fonts/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family: "JosefinSlab";
    src: url('../fonts/JosefinSlab-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "JosefinSlab";
    src: url('../fonts/JosefinSlab-Light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: "JosefinSlab";
    src: url('../fonts/JosefinSlab-LightItalic.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: "JosefinSlab";
    src: url('../fonts/JosefinSlab-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "JosefinSlab";
    src: url('../fonts/JosefinSlab-Italic.ttf');
    font-style: italic;
}

body {
    font-family: "JosefinSlab",sans-serif;
	background: #efece3;
	font-size: 20px;
	color: #3C0470;
	margin: 10px;
}

.define {
	color: #FFAE00;
	text-transform: uppercase;
	font-weight: bold;
}

h1, h2, h3 {
	font-variant:small-caps;
}

a {
	color: #133AAC;
}

#version {
	color: #fff;
	background-color: #666666;
	float: right;
	padding: 3px;
}

.scripture-block {
    margin-bottom: 10px;
    color: black;
}

.scripture-block i {
    float: left;
    width: 5%;
    color: grey;
}

.scripture-block div {
    font-size: 18px;
    margin-bottom: 0;
    float: right;
    width: 90%;
    font-weight: bold;
}

.scripture-block p {
    font-size: 14px;
    margin-top: 0;
}

.clear {
    height: 10px;
    clear: both;
}