<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lynn.mobile.spiritualfasting"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.05" >

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:logo="@drawable/side_menu_button_states"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity android:name="com.lynn.mobile.spiritualfasting.MainActivity" android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AboutActivity" android:label="@string/title_activity_about" />
        <activity android:name=".TermsOfUseActivity" android:label="@string/title_activity_terms" />
        <activity android:name=".CreateFastActivity" android:label="@string/title_activity_start_fast" />
        <activity android:name=".TypesOfFastsActivity" android:label="@string/title_types_of_fasts" />
        <activity android:name=".TypesOfFastsDetailActivity" />
        <activity android:name=".WhyActivity" android:label="@string/title_activity_why" />
        <activity android:name=".YourFastsListActivity" android:label="@string/title_your_fasts_list" />
        <activity android:name=".YourFastDetailActivity" android:logo="@drawable/abs__ic_ab_back_holo_dark" />
    </application>

</manifest>